Repository jaspal-dev/weather-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint

Fix/styling fix (#48)
  src/constants/common.js
  src/pages/weather/Weather.jsx
  src/pages/weather/components/currentWeather/CurrentWeather.jsx
  src/pages/weather/components/currentWeather/currentWeather.styled.js
  src/pages/weather/components/menuBar/MenuBar.jsx
  src/pages/weather/components/navItems/NavItems.jsx
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
  src/utils.js
Due: eslint --fix

fix: loading issue
  src/pages/weather/Weather.jsx
  src/pages/weather/components/menuBar/MenuBar.jsx
  src/pages/weather/components/navItems/NavItems.jsx
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
  webpack.config.js
Due: eslint --fix

fix: remove unused immediate invoke parameter
  src/pages/weather/Weather.jsx
Due: eslint --fix

Fix/loading issue fix (#49)
  src/pages/weather/Weather.jsx
  src/pages/weather/components/menuBar/MenuBar.jsx
  src/pages/weather/components/navItems/NavItems.jsx
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
  webpack.config.js
Due: eslint --fix

Update README.md
  README.md
Due: none

Update README.md (#50)
  README.md
Due: none

Update README.md (#51)
  README.md
Due: none

fix: added legacy install flag while making build
  .devcontainer/init.sh
  .husky/install.mjs
Due: eslint --fix

fix: added legacy install flag while making build (#52)
  .devcontainer/init.sh
  .husky/install.mjs
Due: eslint --fix

fix: incorrect weather content
  src/pages/weather/Weather.jsx
  src/pages/weather/components/currentWeather/CurrentWeather.jsx
  src/pages/weather/components/menuBar/MenuBar.jsx
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
  webpack.config.js
Due: eslint --fix

fix: incorrect weather content (#53)
  src/pages/weather/Weather.jsx
  src/pages/weather/components/currentWeather/CurrentWeather.jsx
  src/pages/weather/components/menuBar/MenuBar.jsx
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
  webpack.config.js
Due: eslint --fix

test: test-content
  src/App.jsx
Due: eslint --fix

Update README.md (#55)
  README.md
Due: none

test: workflow
  .github/workflows/new-action.yml
  package.json
Due: prettier --write

test: workflow
  .github/workflows/new-action.yml
Due: none

Workflow (#56)
  .github/workflows/new-action.yml
  package.json
Due: prettier --write

test: other - workflow
  .github/workflows/other-action.yml
Due: none

Workflow (#57)
  .github/workflows/other-action.yml
Due: none

test: test multiple triggers
  .github/workflows/other-action.yml
Due: none

test: steps view
  .github/workflows/other-action.yml
Due: none

Workflow (#58)
  .github/workflows/other-action.yml
Due: none

test: needs
  .github/workflows/other-action.yml
Due: none

Workflow (#59)
  .github/workflows/other-action.yml
Due: none

test: workflow
  .github/workflows/new-action.yml
  .github/workflows/other-action.yml
Due: none

test: workflow
  src/App.jsx
Due: eslint --fix

test: hello-world
  .github/workflows/hello-world.yml
Due: none

test: workflow pull req
  .github/workflows/pull-request-workflow.yml
Due: none

test: say hello-while pull push
  .github/workflows/multiple-event-triggers.yml
Due: none

test: say hello-while pull push
  .github/workflows/success-fail.yml
Due: none

test: install node
  .github/workflows/setup.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs}
  prettier --write: any of: *.{json,html}
  stylelint: any of: *.css
