Repository jaspal-dev/weather-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint

refactor: changed constant message to idle
  src/constants.js
  src/hooks/useAsync.js
Due: eslint --fix

Refactor/optimized use api (#30)
  src/constants.js
  src/hooks/useAsync.js
Due: eslint --fix

fix: add the rule in eslint
  eslint.config.mjs
  src/hooks/useAsync.js
Due: eslint --fix

Refactor/optimized use api (#31)
  eslint.config.mjs
  src/hooks/useAsync.js
Due: eslint --fix

feat: add the api call feature to fetch data
  eslint.config.mjs
  src/hooks/useAsync.js
  src/pages/weather/Weather.jsx
  src/pages/weather/components/menuBar/MenuBar.jsx
  src/pages/weather/components/navItems/NavItems.jsx
  src/pages/weather/contents.js
Due: eslint --fix

feat: add feature to update location and last updated at dynamically
  src/pages/weather/Weather.jsx
  src/pages/weather/components/menuBar/MenuBar.jsx
  src/pages/weather/components/navItems/NavItems.jsx
Due: eslint --fix

Feat/api call to fetch weather (#32)
  eslint.config.mjs
  src/hooks/useAsync.js
  src/pages/weather/Weather.jsx
  src/pages/weather/components/menuBar/MenuBar.jsx
  src/pages/weather/components/navItems/NavItems.jsx
  src/pages/weather/contents.js
Due: eslint --fix

feat: add the shimmer while loading
  src/components/index.js
  src/components/skeletonWrapper/SkeletonWrapper.jsx
  src/components/skeletonWrapper/index.js
  src/pages/weather/Weather.jsx
  src/pages/weather/components/menuBar/MenuBar.jsx
  src/pages/weather/components/weatherContent/WeatherContent.jsx
Due: eslint --fix

feat: add the shimmer while loading (#33)
  src/components/index.js
  src/components/skeletonWrapper/SkeletonWrapper.jsx
  src/components/skeletonWrapper/index.js
  src/pages/weather/Weather.jsx
  src/pages/weather/components/menuBar/MenuBar.jsx
  src/pages/weather/components/weatherContent/WeatherContent.jsx
Due: eslint --fix

feat: added loading screen
  src/assets/animations/LoadingAnimation.json
  src/pages/weather/Weather.jsx
  src/pages/weather/components/helperContent/HelperContent.jsx
  src/pages/weather/contents.js
Due: eslint --fix, prettier --write

feat: added loading screen (#34)
  src/assets/animations/LoadingAnimation.json
  src/pages/weather/Weather.jsx
  src/pages/weather/components/helperContent/HelperContent.jsx
  src/pages/weather/contents.js
Due: eslint --fix, prettier --write

fix: added missing lotte package
  package.json
Due: prettier --write

Feature/loading screen (#35)
  package.json
Due: prettier --write

feat: support for changing modes
  .prettierrc
  src/assets/animations/LoadingAnimation.json
  src/constants.js
  src/pages/weather/Weather.styled.js
  src/pages/weather/components/navItems/NavItems.jsx
  src/themes/generateTheme.js
  src/themes/index.js
  src/themes/palette.js
  src/themes/theme.js
Due: eslint --fix, prettier --write

feat: support for changing modes (#36)
  .prettierrc
  src/assets/animations/LoadingAnimation.json
  src/constants.js
  src/pages/weather/Weather.styled.js
  src/pages/weather/components/navItems/NavItems.jsx
  src/themes/generateTheme.js
  src/themes/index.js
  src/themes/palette.js
  src/themes/theme.js
Due: eslint --fix, prettier --write

fix: giving proper error when location is not matched
  .devcontainer/devcontainer.json
  src/constants.js
  src/pages/weather/components/helperContent/HelperContent.jsx
  src/pages/weather/contents.js
  src/themes/index.js
Due: eslint --fix, prettier --write

fix: giving proper error when location is not matched (#37)
  .devcontainer/devcontainer.json
  src/constants.js
  src/pages/weather/components/helperContent/HelperContent.jsx
  src/pages/weather/contents.js
  src/themes/index.js
Due: eslint --fix, prettier --write

feat: added env support
  .env.sample
  .gitignore
  package.json
  src/api/weather/getWeatherInfo.js
  webpack.config.js
Due: eslint --fix, prettier --write

fix: add the separate .env in gitignore
  .gitignore
Due: none

Feature/add env files support (#38)
  .env.sample
  .gitignore
  package.json
  src/api/weather/getWeatherInfo.js
  webpack.config.js
Due: eslint --fix, prettier --write

fix: move non secrets
  .env.sample
  src/api/weather/getWeatherInfo.js
  src/constants.js
Due: eslint --fix

fix: move non secrets (#39)
  .env.sample
  src/api/weather/getWeatherInfo.js
  src/constants.js
Due: eslint --fix

refactor: optimized theme, styles
  eslint.config.mjs
  src/constants/colors.js
  src/constants/common.js
  src/constants/index.js
  src/hooks/useResponsive.js
  src/pages/weather/Weather.jsx
  src/pages/weather/Weather.styled.js
  src/pages/weather/components/currentWeather/CurrentWeather.jsx
  src/pages/weather/components/searchReport/SearchReport.jsx
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
  src/pages/weather/components/weatherContent/WeatherContent.jsx
  src/themes/components.js
  src/themes/generateTheme.js
  src/utils.js
Due: eslint --fix

refactor: optimized theme, styles (#40)
  eslint.config.mjs
  src/constants/colors.js
  src/constants/common.js
  src/constants/index.js
  src/hooks/useResponsive.js
  src/pages/weather/Weather.jsx
  src/pages/weather/Weather.styled.js
  src/pages/weather/components/currentWeather/CurrentWeather.jsx
  src/pages/weather/components/searchReport/SearchReport.jsx
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
  src/pages/weather/components/weatherContent/WeatherContent.jsx
  src/themes/components.js
  src/themes/generateTheme.js
  src/utils.js
Due: eslint --fix

refactor: extracted params from the url and passing as object params in axios params
  src/api/weather/getWeatherInfo.js
Due: eslint --fix

refactor: extracted params from the url and passing as object params in axios params (#41)
  src/api/weather/getWeatherInfo.js
Due: eslint --fix

feat: preserve component local state on page change
  package.json
  webpack.config.js
Due: eslint --fix, prettier --write

feat: preserve component local state on page change (#42)
  package.json
  webpack.config.js
Due: eslint --fix, prettier --write

fix: api key not recogonised
  webpack.config.js
Due: eslint --fix

fix: api key not recogonised (#43)
  webpack.config.js
Due: eslint --fix

feat: add the today forecosts
  eslint.config.mjs
  src/constants/common.js
  src/contexts/ThemeContext.js
  src/pages/weather/components/navItems/NavItems.jsx
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
  src/pages/weather/components/todayForecasts/todayForecasts.styled.js
  src/pages/weather/components/weatherContent/WeatherContent.jsx
  src/themes/index.js
  src/utils.js
Due: eslint --fix

feat: add the today forecosts (#44)
  eslint.config.mjs
  src/constants/common.js
  src/contexts/ThemeContext.js
  src/pages/weather/components/navItems/NavItems.jsx
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
  src/pages/weather/components/todayForecasts/todayForecasts.styled.js
  src/pages/weather/components/weatherContent/WeatherContent.jsx
  src/themes/index.js
  src/utils.js
Due: eslint --fix

feat: added future forecasts
  package.json
  src/constants/common.js
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
  src/pages/weather/components/weatherContent/WeatherContent.jsx
  src/pages/weather/constants.js
  src/utils.js
Due: eslint --fix, prettier --write

feat: added future forecasts (#45)
  package.json
  src/constants/common.js
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
  src/pages/weather/components/weatherContent/WeatherContent.jsx
  src/pages/weather/constants.js
  src/utils.js
Due: eslint --fix, prettier --write

fix: dashboard styling fix for responsiveness
  src/hooks/useResponsive.js
  src/pages/weather/Weather.styled.js
  src/pages/weather/components/currentWeather/CurrentWeather.jsx
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
Due: eslint --fix

fix: dashboard styling fix for responsiveness (#46)
  src/hooks/useResponsive.js
  src/pages/weather/Weather.styled.js
  src/pages/weather/components/currentWeather/CurrentWeather.jsx
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
Due: eslint --fix

fix: location searching warning fix
  src/components/skeletonWrapper/SkeletonWrapper.jsx
  src/pages/weather/Weather.jsx
  src/utils.js
Due: eslint --fix

fix: location searching warning fix (#47)
  src/components/skeletonWrapper/SkeletonWrapper.jsx
  src/pages/weather/Weather.jsx
  src/utils.js
Due: eslint --fix

fix: styling issue
  src/constants/common.js
  src/pages/weather/Weather.jsx
  src/pages/weather/components/currentWeather/CurrentWeather.jsx
  src/pages/weather/components/currentWeather/currentWeather.styled.js
  src/pages/weather/components/menuBar/MenuBar.jsx
  src/pages/weather/components/navItems/NavItems.jsx
  src/pages/weather/components/todayForecasts/TodayForecasts.jsx
  src/utils.js
Due: eslint --fix

fix: styling issue
  src/pages/weather/Weather.jsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,mjs}
  prettier --write: any of: *.{json,html}
  stylelint: any of: *.css
